*   {
    font-family:"Open Sans";
}
body {
    background: url(../images/wallpaper.jpg) no-repeat center center fixed;
    background-color:aliceblue;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding:0;
    margin:0;
}
#preloader  {
    position: fixed;
    padding:0;
    margin:auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: aliceblue;
    z-index: 2000;
    width:100%;
    height: 100%;
    text-align:center;
}

#mypic  {
    position:fixed;
    padding:0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin:auto;
    width: 200px;
    height:200px;
    border-radius: 50%;
    border: 2px solid lightblue;
}

#cover  {
    height:100%;
    width:100%;
    padding:0;
    background: lightskyblue;
    opacity:0;
}
#cover2  {
    top:0;
    height:100%;
    position:absolute;
    width:100%;
    padding:0;
    background: white;
    opacity:0.1;
}

#title  {
  background-color: black;
    position:absolute;
    left:0;
    right:0;
    padding:0;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

#title h1   {
    margin:0 auto;
    color: ivory;
    font-size:100px;
    -webkit-transition: color 2s linear;
    -moz-transition: color 2s linear;
    -o-transition: color 2s linear;
    transition: color 2s linear;
}
#title h1:hover {
    color: blanchedalmond;
}

header  {
  position:absolute;
  width: 100%;
  z-index: 1000;
}

#navbar {
    -moz-animation-name: lowerHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 1s;

    -webkit-animation-name: lowerHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 1s;

    animation-name: lowerHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}
#navarea    {
    -webkit-transition: background 1s linear;
    -moz-transition: background 1s linear;
    -o-transition: background 1s linear;
    transition: background 1s linear;
}
.content {
    -webkit-transition-duration: 4s;
    -moz-transition-duration: 4s;
    -o-transition-duration: 4s;
    transition-duration: 4s;
    min-height:1000px;
    width:100%;
    background-color: #e6f9ff;
    z-index:10;
    overflow:hidden;
    padding-top: 150px;
}

.content h1 {
    text-align:center;
    color:gray;
    font-size:50px;
}
.content h1,h2,h3,h4,h5,h6{
    margin:0 auto;
}

.content .text p {
    color: steelblue;
    font-size:20px;
    /* transition: color 1s ease-in-out;
   -moz-transition: color 1s ease-in-out;
   -webkit-transition: color 1s ease-in-out; */
}
.content .text h3 {
    color: #333333;
}
/* .content p:hover   {
    color: steelblue;
} */

@-moz-keyframes lowerHeader {
    0% {
        -moz-transform: translateY(-75px);
        opacity:0.1;
    }
    100% {
        -moz-transform: translateY(0);
        opacity:1;
    }
}
@-webkit-keyframes lowerHeader {
    0% {
        -webkit-transform: translateY(-75px);
        opacity:0.1;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity:1;
    }
}
@keyframes lowerHeader {
    0% {
        transform: translateY(-75px);
        opacity:0.1;
    }
    100% {
        transform: translateY(0);
        opacity:1;;
    }
}

.text   {
    width:94%;
    margin:0 auto;
    overflow:hidden;
}
