::-webkit-scrollbar {
    display: none;
}
body {
  margin: 0;
}
#parallax-container {
  height: 1000px;
  display: block;
}
#parallax-container div {
  position: fixed;
  top: 0;
  background-position: center !important;
  transform: translateY(0px);
  height: 1000px;
  width: 100%;
}

section {
  position:relative;
  width:100%;
  height:100vh;
}
